In [1]:
#Request for Survey 
#https://docs.google.com/forms/d/e/1FAIpQLScv8JFBpMEYg4k03_ZEXPcrfMkrwGhQLdLr5y4uD7WT9tl9Xw/viewform
# PPT: https://docs.google.com/presentation/d/1LmBC6uq2iZPDSnqjdaZqILkDJjl4SB-97ARgPFEejHE/edit?usp=sharing

In [4]:
x="hi"

In [6]:
x

hi

In [15]:
x=10

In [8]:
x

10

In [3]:
print("Hello World!")
print("Hello Again")
print("I like typing this.")
print("This is fun.")
print("Yay! 'Printing.")
print("I'd much rather you 'not'.")
print('I "said" do not touch this.')

Hello World!
Hello Again
I like typing this.
This is fun.
Yay! 'Printing.
I'd much rather you 'not'.
I "said" do not touch this.

In [ ]:
# A comment, this is so you can read your program later.
# Anything after the # is ignored by pyhton.

print("I could have code like this.")  # and the comment after is ignored

# You can also use a comment to "disable" or comment out a piece of code:
# print ("This won't run.")

print("This will run.")

In [ ]:
print("I will now count my chickens:")

print("Hens", 25 + 30 / 6)
print("Rosters", 100 - 25 * 3 % 4)

print("Now I will count the eggs:")

print(round(3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6))

print("Is it true that 3 + 2 < 5 - 7?")

print(3 + 2 < 5 - 7)

print("What is 3 + 2?", 3 + 2)
print("What is 5 - 7?", 5 - 7)

print("Oh, that's why it's False.")

print("How about some more.")

print("It is greater?", 5 > -2)
print("It is greater or equal?", 5 >= -2)
print("It is less or equal?", 5 <= -2)

In [11]:
 25 + 30 / 6

30.0

In [ ]:
print("Hens", 25 + 30 / 6)

In [12]:
print(3 + 2 < 5 - 7)

False

In [16]:
x==10

True

In [20]:
cars = 100
space_in_a_car = 4.0
drivers = 30
passengers = 90
cars_not_driven = cars - drivers
cars_driven = drivers
carpool_capacity = cars_driven * space_in_a_car
average_passengers_per_car = passengers / cars_driven

print("There are "+ str(cars)+ " cars available.")
print("There are only", drivers, "drivers available.")
print("There will be", cars_not_driven, "empty cars today")
print("We can transport", carpool_capacity, "people today.")
print("We have", passengers, "to carpool today.")
print("We need to put about", average_passengers_per_car, "in each car.")

There are 100 cars available.
There are only 30 drivers available.
There will be 70 empty cars today
We can transport 120.0 people today.
We have 90 to carpool today.
We need to put about 3.0 in each car.

In [ ]:
# this one is like your scripts with argv
def print_two(*args):
    arg1, arg2, arg3 = args
    print(f"arg1: {arg1}, arg2: {arg2}",arg3)


# ok, that *args is actually pointless, we can just do this
def print_two_again(arg1, arg2):
    print(f"arg1: {arg1}, arg2: {arg2}")


# this just takes one argument
def print_one(arg1):
    print(f"arg1: {arg1}")


# this one takes no arguments
def print_none():
    print("I got nothin'.")


print_two("Zed", "Shaw")
print_two_again("Zed", "Shaw")
print_one("First!")
print_none()

In [ ]:
def print_two(*args): 
    arg1, arg2, arg3 = args
    #print(f"arg1: {arg1}, arg2: {arg2}, arg3: {arg3}")
    print(args)

In [ ]:
print_two("Zed", "Shaw","hello")

In [ ]:
def break_words(stuff):
    """This function will break up words for us."""
    words = stuff.split(' ')
    return words


def sort_words(words):
    """Sorts the words."""
    return sorted(words)


def print_first_word(words):
    """Prints the first word after popping it off."""
    word = words.pop(0)
    print(word)


def print_last_word(words):
    """Prints the last word after popping it of."""
    word = words.pop(-1)
    print(word)


def sort_sentence(sentence):
    """Takes in a full sentence and returns the sorted words."""
    words = break_words(sentence)
    return (sort_words(words))


def print_first_and_last(sentence):
    """Prints the first and last words of a sentence."""
    words = break_words(sentence)
    print_first_word(words)
    print_last_word(words)


def print_first_and_last_sorted(sentence):
    """Sorts the words then prints the first and last one."""
    words = sort_sentence(sentence)
    print_first_word(words)
    print_last_word(words)

In [ ]:
listofwords=break_words("Can you break this for me")

In [ ]:
sort_words(listofwords)

In [ ]:
listofwords.pop()

In [ ]:
listofwords.pop(-1)

In [ ]:
listofwords

In [ ]:
listofwords.pop(0)

In [ ]:
print("You enter a dark room with two doors.")
print("Do you go through door #1 or door #2?")

door = input("> ")

if door == "1":
    print("There's a giant bear here eating a cheese cake.")
    print("What do you do?")
    print("1. Take the cake.")
    print("2. Scream at the bear.")

    bear = input("> ")

    if bear == "1":
        print("The bear eats your face off. Good job!")
    elif bear == "2":
        print("The bear eats your legs off. Good job!")
    else:
        print(f"Well, doing {bear} is probably better.")
        print("Bear runs away.")

elif door == "2":
    print("You stare into the endless abyss at Cthulhu's retina.")
    print("1. Blueberries.")
    print("2. Yellow jacket clothespins.")
    print("3. Understanding revolvers yelling melodies.")

    insanity = input("> ")

    if insanity == "1" or insanity == "2":
        print("Your body survives powered by a mind of jello.")
        print("Good job!")
    else:
        print("The insanity rots your eyes into a pool of muck.")
        print("Good job!")

else:
    print("You stumble around and fall on knife and die. Good job!")

In [ ]:
the_count = [1, 2, 3, 4, 5]
fruits = ['apples', 'oranges', 'pears', 'apricots']
change = [1, 'pennies', 2, 'dimes', 3, 'quarters']

# this first kind of for-loop goes through a list
for number in the_count:
    print(f"This is count {number}")

# same as above
for fruit in fruits:
    print(f"A fruit of type: {fruit}")

# also we can go through mixed lists too
# notice we have to use %r since we don't know what's in items
for i in change:
    print(f"I got {i}")

# we can also build lists, first start with an empty one
elements = []

# then use the range function to do 0 to 5 counts
for i in range(0, 6):
    print(f"Adding {i} to the list.")
    # append is a function that lists understand
    elements.append(i)

# now we can print them out too
for i in elements:
    print(f"Element was: {i}")

In [ ]:
for xxx in the_count:
    print("This is count", xxx)

In [ ]:
elements = []

for i in range(0, 6):
    print("Adding",i, "to the list.")
    # append is a function that lists understand
    elements.append(i)

In [ ]:
elements[-1]

In [ ]:
i = 0
numbers = []

while i < 6:
    print(f"At the top i is {i}")
    numbers.append(i)

    i = i + 1
    print("Numbers now: ", numbers)
    print(f"At the bottom i is {i}")

print("The numbers: ")

for num in numbers:
    print(num)

In [ ]:
numbers

In [ ]:
i

In [ ]:
ten_things = "Apples Oranges Crows Telephone Light Sugar"

print("Wait there's not 10 things in that list, let's fix that.")

stuff = ten_things.split(' ')


more_stuff = ["Day", "Night", "Song", "Frisbee",
              "Corn", "Banana", "Girl", "Boy"]

while len(stuff) != 10:
    next_one = more_stuff.pop()
    print("Adding: ", next_one)
    stuff.append(next_one)
    print(f"There's {len(stuff)} items now.")

print("There we go: ", stuff)

print("Let's do some things with stuff.")

In [ ]:
# create a mapping of state to abbreviation
states = {
    'Oregon': 'OR',
    'Florida': 'FL',
    'California': 'CA',
    'New York': 'NY',
    'Michigan': 'MI'
}

# create a basic set of states and some cities in them
cities = {'CA': 'San Francisco',
          'MI': 'Detroit',
          'FL': 'Jacksonville'}

# add some more cities
cities['NY'] = 'New York'
cities['OR'] = 'Portland'

# print out some cities
print('-' * 10)
print("NY State has: ", cities['NY'])
print("OR State has: ", cities['OR'])

# print some states
print('-' * 10)
print("Michigan's abbreviation is: ", states["Michigan"])
print("Florida's abbreviation is: ", states['Florida'])

# do it by using the state then cities dict
print('-' * 10)
print("Michigan has: ", cities[states['Michigan']])
print("Florida has: ", cities[states['Florida']])

# print every state abbreviation
print('-' * 10)
for state, abbrev in states.items():
    print(f"{state} is abbreviated {abbrev}")

# print every city in state
print('-' * 10)
for abbrev, city in cities.items():
    print(f"{abbrev} has the city {city}")

In [ ]:

# now do both at the same time
print('-' * 10)
for xxx, yyy in states.items():
    print(xxx)
    print(yyy)

In [ ]:
print('-' * 10)
# safely get an abbreviation by state that might not be there
state = states.get('Texas')

if not state:
    print("Sorry, no Texas.")

# get a city with a default values
city = cities.get('TX', 'Does not Exist')
print(f"The city for the state 'TX' is: {city}")

In [ ]:
states.get('Texas')

In [ ]:
def short_function(x): 
    return x * 2

In [ ]:
f = lambda x: x * 2

In [ ]:
f(6)

In [ ]:
short_function(6)

In [ ]:
def apply_to_list(some_list, short_function): 
    return [short_function(x) for x in some_list]

In [ ]:
apply_to_list([1,2,3],short_function )

In [ ]:
ints = [4, 0, 1, 5, 6] 
apply_to_list(ints, lambda x: x * 2)

In [ ]:
# list comprehension
# lambda - def function on the fly
# passing a function as argument

In [ ]:
# List Comprehension: http://www.pythonforbeginners.com/basics/list-comprehensions-in-python
#[ expression for item in list if conditional ]

x = [i*2 for i in range(10)]
print (x)

In [ ]:
# https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/delegates/using-delegates

In [ ]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [ ]:
strings.sort(key=lambda x: len(set(list(x))))
strings

In [ ]:
len(set(list(strings)))

In [ ]:
strings.sort(key=lambda x: len(set(list(x))))

In [ ]:
strings

In [ ]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [ ]:
len(set(list('aaaa')))

In [ ]:
#strings.sort(key=)
#https://www.programiz.com/python-programming/methods/list/sort

In [ ]:

some_dict  = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

In [ ]:
float('1.2345')
float('1.2')

In [ ]:
int('1')

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:
attempt_float('aa')

In [ ]:
import numpy as np
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

In [ ]:
import numpy as np
my_arr = np.arange(1,10,2)
my_list = list(range(10))

In [ ]:
my_arr

In [ ]:
range(10)

In [ ]:
%time for _ in range(10): my_arr2 = my_arr * 2

In [ ]:
%time for _ in range(10): my_list2 = [x * 2 for x in my_list]

In [ ]:
import numpy as np
# Generate some random data
data = np.random.randn(3, 5)
data

#https://docs.scipy.org/doc/numpy/reference/generated/numpy.random.randn.html

In [ ]:
data * 10

In [ ]:
data + data

In [ ]:
data.shape

In [ ]:
data.dtype

In [ ]:
import pandas as pd

In [ ]:
from pandas import Series, DataFrame

In [ ]:
import numpy as np
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

In [ ]:
obj = pd.Series([4, 7, -5, 3])
obj

In [ ]:
obj.values

In [ ]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

In [ ]:
obj2[['c', 'a', 'd']]

In [ ]:
obj2[obj2 > 0]
#select * from obj2 where col > 0;
# New col true false - and filter

In [ ]:
obj2 > 0

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
obj3

In [1]:
import pandas as pd

data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)

In [2]:
frame.dtypes

pop      float64
state     object
year       int64
dtype: object

In [3]:
frame.head(2)

   pop state  year
0  1.5  Ohio  2000
1  1.7  Ohio  2001

In [4]:
df = pd.read_csv('avgsal.csv')

FileNotFoundError: File b'avgsal.csv' does not exist

In [5]:
df.dtypes

NameError: name 'df' is not defined

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

In [ ]:
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four',
                             'five', 'six'])
frame2

In [ ]:
frame2.columns

In [ ]:
frame2.index

In [ ]:
frame2['state']
# select state from frame2

In [ ]:
frame2.state

In [ ]:
frame2.loc[['three']]

In [ ]:
frame2 [frame2.index == 'three']

In [ ]:
frame2['debt'] = 16.5

In [ ]:
frame2

In [ ]:
frame2['debt'] = np.arange(6)
frame2

In [ ]:
np.arange(6.)

In [ ]:
np.arange(6)

In [ ]:
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])

In [ ]:
val

In [ ]:
frame2['debt'] = val
frame2

In [ ]:
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
del frame2['eastern']
frame2

In [ ]:
pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}

In [ ]:
frame3 = pd.DataFrame(pop)
frame3

In [ ]:
frame3.T

In [ ]:
pd.DataFrame(pop, index=[2001, 2002, 2003])

In [ ]:
frame3['Ohio'][:-1]

In [ ]:
pdata = {'Ohio': frame3['Ohio'][:-1],
         'Nevada': frame3['Nevada'][:2]}
pd.DataFrame(pdata)

In [ ]:
frame3.index.name = 'year'; frame3.columns.name = 'state'
frame3

In [ ]:
frame3.values

In [ ]:
pd.read_excel('salary.xlsx')

In [ ]:
pd.read_excel('Book2.xlsx', sheetname ='Sheet1')

In [ ]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index
index[1:]

In [ ]:
obj

In [ ]:
frame3.columns

In [ ]:
frame3

In [ ]:
'Ohio' in frame3.columns

In [ ]:
2003 in frame3.index

In [ ]:
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

In [ ]:
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

In [ ]:
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])

In [ ]:
obj3

In [ ]:
range(6)

In [ ]:
obj3.reindex(range(6), method='ffill')

In [ ]:
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
obj
new_obj = obj.drop('c')
new_obj

In [ ]:
obj

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])

In [ ]:
obj

In [ ]:
obj[1: 3]

In [ ]:
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
data
data['two']
data #[['three', 'one']]

In [ ]:
data.loc['Colorado', ['two', 'three']]

In [ ]:
data.iloc[2, [3, 0, 1]]

In [ ]:
data.loc[:'Utah', 'two']

In [ ]:
df = pd.read_excel('Book2.xlsx', sheetname ='Sheet1')

In [ ]:
df.loc[:5,:'Enroll']

In [ ]:
df.loc[:,'City.1':'Avg Salary'].dropna(how='all')

In [ ]:
df.loc[:,:'Enroll'].dropna(thresh=7)

In [ ]:
import pandas as pd
df = pd.read_excel('PandasPython.xlsx', sheetname='Yemi')
df1 = df[df['Unnamed: 0'] != 'Total'].dropna(how='all')
namesfordf= {'Unnamed: 0': 'letters', 'Unnamed: 1': 'numbers'}
df1.rename(columns=namesfordf, inplace = True)
df1.reset_index(drop=True, inplace = True)

In [ ]:
df1.to_pickle('cleanedexce.p')

In [ ]:
import numpy as np
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])

frame= np.abs(frame)

In [ ]:
frame

In [ ]:
#f = lambda x: x.max() 
frame.apply(lambda x: x.max(), axis='columns')

In [ ]:
df

In [ ]:
import numpy as np
df['Unnamed: 0'].apply(lambda x: np.nan if x == 'Total' else x)

In [ ]:
df
#ReturnThis if x == 'Total' else ReturnThat

In [ ]:
df.applymap(lambda x: np.nan if x == 'Total' else x).dropna()

In [ ]:
pd.read_csv('https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/macrodata.csv').describe()

In [ ]:
pd.read_pickle('cleanedexce.p')

In [ ]:
df1 = pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
                    'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],
                    'data2': range(3)})

In [ ]:
pd.merge(df1, df2)

In [ ]:
df1

In [ ]:
df2

In [ ]:
df = pd.read_excel('Book2.xlsx', sheetname ='Sheet1')
avgsal = df.loc[:,'City.1':'Avg Salary'].dropna(how='all')
att = df.loc[:,:'Enroll'].dropna(thresh=7)
df11 = pd.merge(att, avgsal, left_on='City', right_on='City.1')

In [ ]:
avgsal

In [ ]:
s1 = pd.Series([0, 1], index=['a', 'b'])
s2 = pd.Series([2, 3, 4], index=['c', 'd', 'e'])
s3 = pd.Series([5, 6], index=['f', 'g'])

In [ ]:
s1

In [ ]:
pd.concat([s1, s2, s3])
# Select * from s1 union select * from s2 union select * from s3

In [ ]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                    index=pd.Index(['Ohio', 'Colorado'], name='state'),
                    columns=pd.Index(['one', 'two', 'three'],
                    name='number'))
data

In [ ]:
result = data.stack()
result

In [ ]:
result.unstack()

In [ ]:
df = pd.DataFrame({'key': ['foo', 'bar', 'baz'],
                   'A': [1, 2, 3],
                   'B': [4, 5, 6],
                   'C': [7, 8, 9]})
df

In [ ]:
melted = pd.melt(df, ['key'])
melted

In [ ]:
reshaped = melted.pivot('key', 'variable', 'value')
reshaped

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

      data1     data2 key1 key2
0  0.141234  0.806410    a  one
1  0.259716  1.518363    a  two
2  0.864866 -0.417735    b  one
3  1.036623 -0.004306    b  two
4  0.370053 -0.796332    a  one

In [4]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [5]:
grouped.mean()

key1
a    0.257001
b    0.950744
Name: data1, dtype: float64

In [6]:
df11['Agbe'].groupby(df11['City']).max()

NameError: name 'df11' is not defined

In [7]:
df

      data1     data2 key1 key2
0  0.141234  0.806410    a  one
1  0.259716  1.518363    a  two
2  0.864866 -0.417735    b  one
3  1.036623 -0.004306    b  two
4  0.370053 -0.796332    a  one

In [8]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one     0.255643
      two     0.259716
b     one     0.864866
      two     1.036623
Name: data1, dtype: float64

In [11]:
df12 = means.unstack()

In [12]:
df12

key2       one       two
key1
a     0.255643  0.259716
b     0.864866  1.036623

In [14]:
writer = pd.ExcelWriter('df12.xlsx')
df12.to_excel(writer,'Sheet1')
writer.save()

In [15]:
#https://pandas.pydata.org/pandas-docs/stable/style.html