In [1]:

strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [4]:
newlist =[]
for x in strings:
    if len(x) > 2:
        newlist.append(x.upper())
            
newlist

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [6]:

unique_lengths = {len(x) for x in strings}
type(unique_lengths)

set

In [7]:
unique_lengths

{1, 2, 3, 4, 6}

In [9]:
pythonclasstoday = {'J', 'T', 'S', 'E', 'R'}
pythontutorsalltime ={'J', 'T', 'Rm'}
pythonclasstoday & pythontutorsalltime

In [13]:
set(map(len, strings))

{1, 2, 3, 4, 6}

{'J', 'T'}

In [15]:
unique_lengths = {len(x) for x in strings}

set(map(len, strings))

[1, 2, 3, 3, 4, 6]

In [16]:

loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [19]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [21]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [22]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result
clean_strings(states, clean_ops)

In [27]:


list(map(remove_punctuation, states))

['   Alabama ',
 'Georgia',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south   carolina',
 'West virginia']

In [30]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

['aaaa', 'foo', 'abab', 'bar', 'card']

In [32]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [38]:
x = list('aaaa')
x

['a', 'a', 'a', 'a']

In [39]:
y= set(x)
y

{'a'}

In [40]:
z= len(y)
z

1

In [45]:
def myfun(inputstring):
    return len(set(list(inputstring)))
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=myfun)
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [46]:
float('1.2345')

1.2345

In [47]:
float('something')

ValueError: could not convert string to float: 'something'

In [48]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [49]:
#------------------------
attempt_float('1.2345')

1.2345

In [56]:
#-------------------------------
attempt_float('something')

'something'

In [51]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [54]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [55]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [57]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [58]:
attempt_float((1, 2))

(1, 2)

In [59]:

path = 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/segismundo.txt'
f = open(path)

OSError: [Errno 22] Invalid argument: 'https://raw.githubusercontent.com/wesm/pydata-book/2nd-edition/examples/segismundo.txt'

In [60]:
!pwd

/c/Users/xxx.XXX/Documents

In [61]:

import numpy as np
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)