In [8]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 20
np.set_printoptions(precision=4, suppress=True)

In [26]:
obj = pd.Series([4, 7, -5, 3,11,12,12])
obj

0     4
1     7
2    -5
3     3
4    11
5    12
6    12
dtype: int64

In [10]:
obj.index  # like range(4)

RangeIndex(start=0, stop=4, step=1)

In [11]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [12]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [13]:

obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [14]:
obj2['a']

-5

In [17]:
obj2['d']

6

In [18]:
obj2['d'] = 9
obj2

d    9
b    7
a   -5
c    3
dtype: int64

In [19]:
obj2

d    9
b    7
a   -5
c    3
dtype: int64

In [20]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    9
dtype: int64

In [21]:
obj2[obj2 > 0]

d    9
b    7
c    3
dtype: int64

In [22]:
obj2 > 0

d     True
b     True
a    False
c     True
dtype: bool

In [23]:
np.exp(obj2)

d    8103.083928
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [24]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

obj3 = pd.Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [25]:
obj3.index

Index(['Ohio', 'Oregon', 'Texas', 'Utah'], dtype='object')

In [27]:
type(sdata)

dict

In [28]:
type(obj3)

pandas.core.series.Series