In [2]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [4]:
for x in strings:
    if len(x) > 2:
        print(x.upper())

BAT
CAR
DOVE
PYTHON

In [5]:
newlist =[]
for x in strings:
    if len(x) > 2:
        newlist.append(x.upper())
            
newlist

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [6]:
newlist =[]
for x in strings:
    if len(x) > 2:
        newlist.append(x.upper())
            
newlist

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [7]:
unique_lengths = {len(x) for x in strings}
type(unique_lengths)

set

In [8]:
unique_lengths

{1, 2, 3, 4, 6}

In [9]:
pythonclasstoday = {'J', 'T', 'S', 'E', 'R'}
pythontutorsalltime ={'J', 'T', 'Rm'}
pythonclasstoday & pythontutorsalltime

{'J', 'T'}

In [10]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [11]:
strings

['a', 'as', 'bat', 'car', 'dove', 'python']

In [13]:
list(map(len, strings))

[1, 2, 3, 3, 4, 6]

In [15]:
(map(len, strings))

In [16]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [17]:
for index, val in enumerate(strings):
    print(index, val)

0 a
1 as
2 bat
3 car
4 dove
5 python

In [18]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [19]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'West virginia?']
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [20]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [21]:
list(map(remove_punctuation, states))

['   Alabama ',
 'Georgia',
 'Georgia',
 'georgia',
 'FlOrIda',
 'south   carolina',
 'West virginia']

In [22]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [23]:
strings.sort(key=lambda x: len(set(list(x))))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [24]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [25]:
lambda x: len(set(list(x)))

In [27]:
list("joshi")

['j', 'o', 's', 'h', 'i']

In [29]:
len(set(list("joshi")))

5

In [30]:
x = list('aaaa')
x

['a', 'a', 'a', 'a']

In [32]:
y= set(x)
y

{'a'}

In [33]:
z= len(y)
z

1

In [34]:
def myfun(inputstring):
    return len(set(list(inputstring)))
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']
strings.sort(key=myfun)
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [35]:
float('1.2345')

1.2345

In [36]:
float('1.2345')

1.2345

In [37]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [38]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [39]:
attempt_float((1, 2))

(1, 2)

In [40]:
import numpy as np
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)