In [1]:
x="""x

y

z"""
#x.count('\n\n')
x.split('\n\n')

['x', 'y', 'z']

In [ ]:
# reading from rawdata.txt

In [23]:
with open('rawdata.txt', 'r') as myfile:
  data = myfile.read()

In [28]:
data

'hi this is first entry - col1\ni am 2nd line of first entry -col\n\nthis is second - co1\ni am 2nd line of 2nd entyr -co2\n\nthis is third - col1\ni am thir line of new tnryt - col2'

In [29]:
mylist= data.split('\n\n')

In [30]:
mylist

['hi this is first entry - col1\ni am 2nd line of first entry -col',
 'this is second - co1\ni am 2nd line of 2nd entyr -co2',
 'this is third - col1\ni am thir line of new tnryt - col2']

In [31]:
mylist[0].split('\n')

['hi this is first entry - col1', 'i am 2nd line of first entry -col']

In [34]:
collist =[]
for x in mylist:
    #mylist.append(x.split('\n\n'))
    print (x.split('\n'))
    collist.append(x.split('\n'))

['hi this is first entry - col1', 'i am 2nd line of first entry -col']
['this is second - co1', 'i am 2nd line of 2nd entyr -co2']
['this is third - col1', 'i am thir line of new tnryt - col2']

In [35]:
collist

[['hi this is first entry - col1', 'i am 2nd line of first entry -col'],
 ['this is second - co1', 'i am 2nd line of 2nd entyr -co2'],
 ['this is third - col1', 'i am thir line of new tnryt - col2']]

In [37]:
table = collist
df = pd.DataFrame(table)
df = df.transpose()
df.columns = ['Heading1', 'Heading2']
df

NameError: name 'pd' is not defined