In [6]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [2]:
a =[]

In [8]:
import numpy as np
data = {i : np.random.randn() for i in range(7)}
data

{0: 0.2817461528302025,
 1: 0.7690225676118387,
 2: 1.2464347363862822,
 3: 1.0071893575830049,
 4: -1.2962211091122635,
 5: 0.274991633432124,
 6: 0.22891287893531592}

These are your notee

In [16]:
data[5]

0.274991633432124

In [18]:
a =[1,2,3,4,5]

In [20]:
a[4]

5

In [24]:
'a'

'a'

In [21]:
a= {
   'a' :12,
    'he': 13
}

In [22]:
a['he']

13

In [15]:
np.random.randn()

1.3529168351654497

In [25]:
b = [1, 2, 3]

In [26]:
b

[1, 2, 3]

In [27]:
b[1]

2

In [40]:
def joshif(x, y, z):
    print("function ran - message from inside of function")
    

    print ("end of the function")
    return (x + y) * z

In [41]:
joshif(2,3,6)

function ran - message from inside of function
end of the function

30

In [45]:
x = 6
y = 7
if x > 5:
    x += 1

    y = 8

In [46]:
x

7

In [47]:
y

8

In [48]:
a = [1, 2, 3]

In [49]:
b = a

In [50]:
a.append(4)

In [51]:
b

[1, 2, 3, 4]

In [52]:
b.pop()

4

In [53]:
b

[1, 2, 3]

In [54]:
b.pop(1)

2

In [55]:
b

[1, 3]

In [57]:
a = 5.1
type(a)

float

In [59]:
a = 'myname'
type(a)

str

In [60]:
a

'myname'

In [64]:
'5' + 5

TypeError: must be str, not int

In [65]:
a = 4.5
b = 2
# String formatting, to be visited later
print('a is {0}, b is {1}'.format(type(a), type(b)))

a is <class 'float'>, b is <class 'int'>

2.25

In [66]:
print('a, b is',type(a), type(b))

a, b is <class 'float'> <class 'int'>

In [67]:
type(a)

float

In [77]:
a = "Joshi's score"
isinstance(a, int)

False

In [78]:
type(a)

str

In [91]:
 a = 'foo           '

In [83]:
a.capitalize()

'Foo'

In [93]:
a.lstrip()

'foo           '

In [96]:
str = "     this is string example....wow!!!     ";
str.lstrip()

'this is string example....wow!!!     '

In [99]:
c = """
This is a longer string that

spans multiple lines
"""

In [100]:
c

'\nThis is a longer string that\n\nspans multiple lines\n'

In [101]:
c.count('\n')

4

In [103]:
a = 'this is a string'
#a[10] = 'f'
b = a.replace('string', 'longer string')
b

'this is a longer string'

In [4]:

a = 5.6
s = str(a)
s

'5.6'

s+1

In [6]:
s+"hi"

'5.6hi'

In [7]:
s=5.6

In [8]:
s = 'python'
list(s)

['p', 'y', 't', 'h', 'o', 'n']

In [9]:
s[:3]

'pyt'

In [13]:
s = 12/34
print(s)

0

In [21]:
s = 'this\has\no\special\characters'
s

'this\\has\no\\special\\characters'

In [24]:
a = 'this is the first half '
b = 'and this is the second half'
b +a

'and this is the second halfthis is the first half '

In [32]:
template = '{0:.2f} {1:s} are worth US${2:d}'

In [33]:
template

'{0:.2f} {1:s} are worth US${2:d}'

In [39]:
template.format(4.5560, 'Argentine Pesos', 43)

'4.56 Argentine Pesos are worth US$43'

In [28]:
'4.5560 Argentine Pesos are worth US$1'

'4.5560 Argentine Pesos are worth US$1'

In [40]:
s = '3.14159'
fval = float(s)

In [41]:
fval

3.14159

In [43]:
s = '3.14159'
fval = float(s)

In [44]:
a = None

In [45]:
a is None

True

In [46]:
a

In [47]:
b = 5

In [48]:
b is not None

True

In [49]:
def add_and_maybe_multiply(a, b, c=None): 
    result = a + b

    if c is not None:
        result = result * c

    return result

In [54]:
add_and_maybe_multiply(1,2,4)

12

In [59]:
type(None)

NoneType

In [3]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [4]:
dt.day

29

In [5]:
dt.minute

30

In [6]:
dt.month

10

In [7]:
dt.strftime('%m/%d/%Y %I:%M %p')

'10/29/2011 08:30 PM'

In [8]:
datetime.strptime('20093110', '%Y%d%m')

datetime.datetime(2009, 10, 31, 0, 0)

In [9]:
dt.replace(minute=0, second=0)

datetime.datetime(2011, 10, 29, 20, 0)

In [10]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta

datetime.timedelta(17, 7179)

In [11]:
type(delta)

datetime.timedelta

In [12]:
dt2

datetime.datetime(2011, 11, 15, 22, 30)

In [13]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [25]:
a = 5
b = 7
c = 8 
d = 4

if (a < b) | (c > d):
    print('Made it')

Made it

In [21]:
4 > 3 > 2 > 1

True

In [26]:
if a < b or c > d:
    print('Made it')

Made it

In [27]:
for i in range(4):
    for j in range(4):
#         if j > i:
#             break
        print((i, j))

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [28]:
x = 256 
total = 0 

while x > 0: 
    if total > 400:
        break 
    total =total+ x 
    x = x / 2

In [29]:
x

4

In [30]:
total

504

In [31]:
range(10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [41]:
sum = 0 
for i in range(10):

    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        sum =sum + i
        print ("i",i)
        print ("sum",sum)

i 0
sum 0
i 3
sum 3
i 5
sum 8
i 6
sum 14
i 9
sum 23

In [37]:
sum

23

In [38]:
3+6+9+5

23

In [42]:
x = 5
'Non-negative' if x >= 0 else 'Negative'

'Non-negative'

In [47]:
if x >=-2
    print ('Non-negative') 
else:
    print('Negative')

Non-negative

In [49]:
for i in range(5,-5,-1):
    if i >=-2:
        print ('Non-negative') 
    else:
        print('Negative')

Non-negative
Non-negative
Non-negative
Non-negative
Non-negative
Non-negative
Non-negative
Non-negative
Negative
Negative

In [50]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [55]:
tup[1]=1

TypeError: 'tuple' object does not support item assignment

In [57]:
tuple([4, 0, 2])

(4, 0, 2)

In [58]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [59]:
lst = list('string')
lst

['s', 't', 'r', 'i', 'n', 'g']

In [60]:
lst[0] ="x"

In [61]:
lst

['x', 't', 'r', 'i', 'n', 'g']

In [62]:
tup[1]='x'

TypeError: 'tuple' object does not support item assignment

In [63]:
a_list = [2, 3, 7, None]

In [65]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [67]:
b_list[1] = 'peekaboo'

In [68]:
b_list

['foo', 'peekaboo', 'baz']

In [ ]:
b_list[1] = 'peekaboo'
b_list

In [69]:
gen = range(10)
gen

range(0, 10)

In [70]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [72]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [75]:
b_list.remove(1)

ValueError: list.remove(x): x not in list

In [74]:
b_list

['red', 'peekaboo', 'baz', 'dwarf']

In [79]:
'dwarf' in b_list

True

In [80]:
'dwarf' not in b_list

False

In [90]:
lst1 =[4, None, 'foo'] + [7, 8, [2, 3]]

In [91]:
lst1

[4, None, 'foo', 7, 8, [2, 3]]

In [92]:
lst1[5][1] =22